#theme-welcome {
    font-size: 14px;
    padding-left: 2em;
}

.form-table td {
    padding: 10px 10px;
  	line-height: 3em;
}

.regular-text {
    width: 18em;
  	text-align: center;
}

#memory_setuptime_year, #memory_setuptime_month, #memory_setuptime_day {
    width: 4em;
    display: inline-block;
  	text-align: center;
}

.text {
    display: none;
}

.on {
    color: #333;
}

.off {
    color: #eee;
}

.circle {
    position: absolute;
    display: inline-block;
}

.choose {
    visibility: hidden;
    position: absolute;
}

.choose~.select {
    background-color: #bcbcbc;
}

.choose~.select .circle {
    left: 0;
	top: -4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
}

.choose~.select .on {
    display: none;
}

.choose~.select .off {
    display: inline-block;
	vertical-align: top;
}

.choose:checked~.select  {
    background: #0bf;
}

.choose:checked~.select .circle {
    left: 18px;
}

.choose:checked~.select .on {
    display: inline-block;
  	vertical-align: top;
}

.choose:checked~.select .off {
    display: none;
}

.select {
    display: inline-block;
    position: relative;
    height: 12px;
    width: 34px;
    border-radius: 8px;
}

.select .circle {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid #eee;
    background-color: #eee;
}

.select .text {
    line-height: 20px;
	font-size: 16px;
    font-size: 1rem;
    font-family: sans-serif;
    text-shadow: 0 0 2px #ddd;
    color: #fff;
}

.select .on {
    text-indent: 5px;
}

.select .off {
    text-indent: 25px;
}

p>a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    margin: 5px 0;
}

#config-menu {
 	overflow: hidden;
    margin: 10px -25px;
    padding: 0 20px;
    box-shadow: 0 0 5px 0 #bbb;
}

#config-menu li {
    display: inline-block;
    padding: 15px 30px;
    margin: 0;
	border-bottom: 2px solid #fff;
}

#config-menu li.active {
  	border-bottom: 2px solid #0f88eb;
  	font-size: 16px;
}

#config-menu li a {
 	color: #635f5f;
  	text-decoration: none;
  	cursor: pointer;
}

.pic-preview {
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 1px solid #999;
    background: #fff;
    border-radius: 3px;
}

.form-table th {
  	font-weight: normal;
}

.wp-picker-container input[type=text].wp-color-picker {
	width: 80px; 
}

#part-1, #part-2, #part-3, #part-4, #part-5, #part-6,#part-7 {
  	display: none;
}

#memory_menu_form {
  	clear: both;
  	overflow: hidden;
}

.wrap {
 	background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px 0 #ccc;
  	overflow: hidden;
}

.show-part {
 	display: block!important; 
}

.setting-title th {
 	padding: 0; 
}

.form-table .button {
	vertical-align: middle; 
}

.icon_lists {
  	width: 100%;
}

.icon_lists li {
	list-style: none !important;
	display: inline-block;
	min-width: 200px;
}

.fontclass {
	display: inline-block;
}
